global
  maxconn 4096

defaults
  mode http
  timeout connect 5s
  timeout client 50s
  timeout server 50s
  option forwardfor

resolvers docker
  nameserver dns1 127.0.0.11:53
  resolve_retries 3
  timeout resolve 1s
  timeout retry   1s
  hold valid      10s

frontend qbit
  bind *:8080
  default_backend qbit_back
backend qbit_back
  server s1 qbittorrent_v2:8080 resolvers docker init-addr none

frontend prowlarr
  bind *:9696
  default_backend prowlarr_back
backend prowlarr_back
  server s1 prowlarr_v2:9696 resolvers docker init-addr none

frontend jackett
  bind *:9117
  default_backend jackett_back
backend jackett_back
  server s1 jackett_v2:9117 resolvers docker init-addr none

frontend filebot
  bind *:5801
  default_backend filebot_back
backend filebot_back
  server s1 filebot_v2:5801 resolvers docker init-addr none

frontend jdownloader
  bind *:5802
  default_backend jdownloader_back
backend jdownloader_back
  server s1 jdownloader_v2:5802 resolvers docker init-addr none

frontend rclone
  bind *:5574
  default_backend rclone_back
backend rclone_back
  server s1 rclone_v2:5574 resolvers docker init-addr none

frontend filestash
  bind *:8334
  default_backend filestash_back
backend filestash_back
  server s1 filestash_v2:8334 resolvers docker init-addr none

frontend audio_listen
  bind *:8100
  default_backend listen_back
backend listen_back
  server s1 listen_v2:8100 resolvers docker init-addr none

frontend flexget
  bind *:5050
  default_backend flexget_back
backend flexget_back
  server s1 flexget_v2:5050 resolvers docker init-addr none
